{% extends "layout.html.twig" %}

{% block title %}Résultats{% endblock %}

{% block bodyClass %}admin{% endblock %}

{% block menus %}
    {% include "admin/menu.html.twig" %}
{% endblock %}

{% block content %}
    <h1>Résultats</h1>

    <div class="count">
        Total : {{ pagination.getTotalItemCount }}
        <a href="{{ path('admin_list', {'_format': 'csv', 'filter': filter}) }}">
            Télécharger le csv de cette liste
        </a>
    </div>

    <table class="table">
        <tr>
            <th>Clé</th>
            <th>Email</th>
            <th>Finalisé</th>
            <th>Email de feedback</th>
            <th>moi</th>
            <th>équipe</th>
            <th>création</th>
            <th>connexion</th>
        </tr>
        {% for article in pagination %}
            <tr>
                <td><a href="{{ url('homepage', {'key': article.key}) }}">{{ article.key }}</a></td>
                <td><a href="mailto://{{ article.email }}">{{ article.email }}</a></td>
                <td>{{ article.finished }}</td>
                <td><a href="mailto://{{ article.emailFeedback }}">{{ article.emailFeedback }}</a></td>
                <td>{{ article.feedbackMyself }}</td>
                <td>{{ article.feedbackTeam }}</td>
                <td>{{ article.createdDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ article.lastConnectionDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_list') }}">
                Toutes les réponses
            </a>
        </li>
        <li>
            <a href="{{ path('admin_list', {'filter': 'manager_with_few_collabs'}) }}">
                Les managers qui n’ont pas les réponses de 5 collaborateurs
            </a>
        </li>
        <li>
            <a href="{{ path('admin_list', {'filter': 'unconnected_since_ten_days'}) }}">
                Les répondants non connectés depuis 10 jours
            </a>
        </li>
        {% if app.session.get('previously_inserted_keys') %}
            <li>
                <a href="{{ path('admin_list', {'filter': 'previously_inserted_keys'}) }}">
                    Les derniers emails inserés
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

