{% extends "layout.html.twig" %}

{% block title %}Résultats{% endblock %}

{% block content %}
    <h1>Résultats</h1>

    <div class="count">
        Total : {{ pagination.getTotalItemCount }}
        <a href="{{ path('admin_list', {'_format': 'csv', 'filter': filter}) }}">
            Télécharger le csv de cette liste
        </a>
    </div>

    <table>
        <tr>
            <th>Clé</th>
            <th>Email</th>
            <th>Finalisé</th>
            <th>Email de feedback</th>
            <th>moi</th>
            <th>équipe</th>
        </tr>
        {% for article in pagination %}
            <tr>
                <td>{{ article.key }}</td>
                <td>{{ article.email }}</td>
                <td>{{ article.finished }}</td>
                <td>{{ article.emailFeedback }}</td>
                <td>{{ article.feedbackMyself }}</td>
                <td>{{ article.feedbackTeam }}</td>
            </tr>
        {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_list') }}">
                Toutes les réponses
            </a>
        </li>
        <li>
            <a href="{{ path('admin_list', {'filter': 'manager_under_five_collabs'}) }}">
                Les managers qui n’ont pas les réponses de 5 collaborateurs
            </a>
        </li>
        {% if app.session.get('previously_inserted_keys') %}
            <li>
                <a href="{{ path('admin_list', {'filter': 'previously_inserted_keys'}) }}">
                    Les derniers emails inserés
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

